body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin:0;
}

.navbar {
    overflow: hidden;
    background-color: #1b6d85;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

/*.app-header {*/
    /*background-color: #1b6d85;*/
    /*position: fixed;*/
    /*overflow: hidden;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
/*}*/

.navbar > span {
    margin-left:10px;
    color:white;
    font-size: 20px;
}

.main-navigation {
    background-color: lightgray;
    position: fixed;
    margin-top: 50px;
    height: 800px;
    border-right: 1px solid black;
    overflow-y: auto;
}



.main-view {
    margin-top: 50px;
    overflow-y: auto;
}

.login-box {
    width:250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.nav-bar-horizontal {
    margin-right: 45px;
}

.nav-bar-horizontal a {
    color: white;
}

.nav-bar-horizontal a:hover {
    color: white;
    text-decoration: none;
}

.nav-bar-horizontal a:active {
    color: white;
    text-decoration: none;
}

.nav-bar-horizontal a:visited {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    margin-right: 30px;
    margin-left: 30px;
}

.dashboard-container {
    margin-top : 30px;
}
